@import '../styles/Reset.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './Markdown.css';
@import './Animation.css';

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'intelone-mono-font-family-regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2')
    format('woff2');

  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'NeoDunggeunmoPro-Regular';
}
.question-font {
  font-family: 'intelone-mono-font-family-regular';
}
body,
div {
  transition: background-color 0.7s ease, color 0.7s ease;
}
div::-webkit-scrollbar {
  display: none;
}
